﻿@model WarehouseMVC.Application.ViewModels.Customer.CustomerDetailsVm

@{
    ViewData["Title"] = "ViewCustomer";
}

<h1>ViewCustomer</h1>

<div>
    <h4>CustomerDetailsVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REGON)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.REGON)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEOFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEOFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstLineOfContactInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstLineOfContactInformation)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
